.genre__container {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.genre__title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.genre__title h2 {
    font-size: 18px;
    margin: 0;
    padding: 5px 10px;
    color: #F15A35;
    border-bottom: 1px solid #F15A35;
    margin-bottom: -1px;
    display: inline-block;
}
.genre__title__add {
    padding-right: 10px;
    color: #F15A35;
    font-size: 20px;
}
.genre__title__add i {
    color: #F15A35;
}

.genre__table {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
.genre__table i {
    color: #fff;
}
.genre__table thead {
    background: rgba(255, 255, 255, 0.3);
}
.genre__table thead th {
    padding: 8px 10px;
    font-weight: 400;
}
.genre__table tbody tr {
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.5s;
}
.genre__table tbody tr:hover {
    background: rgba(255, 255, 255, 0.1);
}
.genre__table td {
    padding: 8px 10px;
}
.genre__table td i {
    transition: color 0.3s;
}
.genre__table td i:hover {
    color: #F15A35;
}

/* GENRE EDIT */

.genre__edit__container {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
}

.genre__edit__title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.genre__edit__title h2 {
    font-size: 18px;
    margin: 0;
    padding: 5px 10px;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
    display: inline-block;
}

.genre__edit__content {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    color: #fff;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.genre__edit__title__add {
    padding-right: 10px;
    color: #000;
    font-size: 20px;
}

.input__genre {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 3px;
}

.input__genre::placeholder {
    color: #999;
}

.btn__genre {
    background: #F15A35;
    color: #fff;
    margin-top: 5px;
    border: transparent;
    padding: 5px 10px;
    border-radius: 3px;
    transition: opacity 0.5s;
    outline: transparent;
}
.btn__genre:focus {
    outline: transparent;
}
.btn__genre:hover {
    opacity: 0.8;
}

/* PAGE */
.genre__page{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
    justify-content: flex-end;
}
.genre__page__item {
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    border-radius: 3px;
}
.genre__page__pointer {
    cursor: pointer;
}